extends /layouts/application.pug

block content
  .row.justify-content-center
    .mx-auto.col-sm-6
      .shadow-sm.p-3.mb-5.bg-white.rounded
        .card
          .card-header
            h4.mb-0 Edit task
          .card-body
            +formFor(f, { url: urlFor('task', id), method: 'patch' })
              +input(f, 'name', { help: 'You could use #tags in name!' })
              +textarea(f, 'description')
              +select(f, 'StatusId', { label: 'Status' })
                for status in statuses
                  +option(status.id, status.name, { selected: isSelectedOption(f.object.StatusId, status.id) })
              +input(f, 'AssignedToEmail', { label: 'Assigned To', help: 'Specify an user email adress.' })
              +button(f, 'Save')
