extends /layouts/application.pug

block content
  .row.justify-content-center
    .mx-auto.col-sm-6
      .shadow-sm.p-3.mb-5.bg-white.rounded
        .card
          .card-header
            h4.mb-0 Edit task
          .card-body
            +formFor(f, { url: urlFor('task', id), method: 'patch' })
              +input(f, 'name', { help: 'You could use #tags in name!' })
              +textarea(f, 'description')
              +select(f, 'StatusId', { label: 'Status' })
                for status in statuses
                  +option(status.id, status.name, { selected: isSelectedOption(f.object.StatusId, status.id) })
              +select(f, 'AssignedToId', { label: 'Assigned To' })
                for user in users
                  +option(user.id, user.fullName, { selected: isSelectedOption(f.object.AssignedToId, user.id) })
                +option('', 'Don\'t assign task', { selected: f.object.AssignedToId === Null })
              +button(f, 'Save')
