extends /layouts/application.pug

block content
  .row.justify-content-center
    .mx-auto.col-sm-6
      .shadow-sm.p-3.mb-5.bg-white.rounded
        .card
          .card-header
            h4.mb-0 Create task
          .card-body
            +formFor(f, { url: urlFor('tasks'), method: 'post' })
              +input(f, 'name', { help: 'You could use #tags in name!' })
              +textarea(f, 'description')
              +select(f, 'StatusId', { label: 'Status' })
                for status in statuses
                  +option(status.id, status.name)
              +select(f, 'AssignedToId', { label: 'Assigned to' })
                +option('', 'Choose an user:', { disabled: true, selected: true , hidden: true })
                for user in users
                  +option(user.id, user.fullName)
                +option('', 'Don\'t assign task')
              +button(f, 'Create')
