extends /layouts/application.pug

block content
  .container.bg-white.border.rounded
    h2.h4.mt-3.py-1.pl-2.border-bottom Users:
      // div.ml-auto.text-secondary
      //   span.font-weight-bold.mr-1 Sort By:
      //   .btn-group
      //     +dropdownGroup('name')
      //     .dropdown-menu
      //       +dropdownItem('email', 'wmail')
      //       +dropdownItem('email', 'email')
    .container
      table.mx-auto.table.table-hover.mt-3
        thead.table-borderless
          tr.border-top-0
            th Name
            th Mail
            th Created tasks
            th Assigned tasks
        tbody
          each user in users
            - const createdTasksCount = user.get('createdTasksCount')
            - const assignedTasksCount = user.get('assignedTasksCount')
            tr
              td= user.fullName
              td
                a(href=`mailto:${user.email}`)= user.email
              td
                a(href='#')= `${createdTasksCount} tasks`
              td
                a(href='#')= `${assignedTasksCount} tasks`
